$mainColor: #4d2559;
$secondaryColor: #fdbd4a;

.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 6px;

  &__message {
    margin: 0 0 24px 0;
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    padding: 0 10px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 6px;
    overflow: hidden;

    &__image {
      width: 32px;
      margin: 0 10px 0 0;
      z-index: 1;
    }

    &__brand-and-description {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 280px;
      z-index: 2;

      span {
        font-weight: 700;
        margin: 0 4px 0 0;
      }
    }

    &__units {
      width: 50px;
    }

    &__price {
      width: 70px;
    }

    &__btn-delete-product {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      height: 20px;
      width: 68px;
      width: 20px;
      cursor: pointer;
      border: transparent;
      background: transparent;

      svg {
        scale: 1.5;
        color: $mainColor;
      }
    }
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0 10px 0 calc((100% - 134px) / 2);
    width: 100%;
  }

  &__total {
    color: $mainColor;
    font-size: 17px;
    font-weight: 600;
  }

  &__btn-reset-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 134px;
    padding: 0 14px;
    border: transparent;
    background: $mainColor;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: white;
    border-radius: 6px;

    &:hover {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, $mainColor 0%, #824f92 100%);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
