@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;600;700;800;900&family=Bebas+Neue&family=Great+Vibes&family=Lobster&family=Montserrat:wght@500;600;700;800&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap');

$mainColor: #4d2559;
$secondaryColor: #fdbd4a;

.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 6px;
  font-size: 17px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  &__message {
    margin: 0 0 24px 0;
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    padding: 0 10px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 6px;
    overflow: hidden;

    &__image {
      width: 32px;
      margin: 0 10px 0 0;
      z-index: 1;
    }

    &__brand-and-description {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 280px;
      z-index: 2;

      span {
        font-weight: 700;
        margin: 0 4px 0 0;
      }
    }

    &__units {
      width: 50px;
    }

    &__price {
      display: flex;
      justify-content: flex-end;
      width: 70px;
    }

    &__btn-delete-product {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      margin: 0 12px;
      cursor: pointer;
      border: transparent;
      background: transparent;

      svg {
        scale: 1.4;
        color: $mainColor;
      }
    }
  }

  &__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0 10px 0 calc((100% - 120px) / 2);
    width: 100%;
  }

  &__total {
    color: $mainColor;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }

  &__btn-reset-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 120px;
    font-family: 'Roboto', sans-serif;
    border: transparent;
    background: $mainColor;
    letter-spacing: 0.2px;
    font-size: 15px;
    color: white;
    border-radius: 6px;

    &:hover {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, $mainColor 0%, #824f92 100%);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
