$heightHeader: 124px;
$wrap: 1240px;
$wrapPadding: 20px;
$gridColum: 220px;
$columnGap: 25px;
$rowGap: 20px;

.ProductContainer {
  display: flex;
  justify-content: center;
  padding-top: calc($heightHeader + $rowGap);
  zoom: 0.92;

  &__header {
    position: fixed;
    width: 100%;
    height: $heightHeader;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;

    &__wrap {
      position: relative;
      max-width: $wrap;
      height: $heightHeader;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }

    &__logo {
      height: 102px;
      margin: 0 0 0 $wrapPadding;
      transform: translateY(-4px);
    }

    &__btn-to-complete {
      margin: 0 $wrapPadding 0 0;
      padding: 12px 16px 14px;
      padding: 12px 16px 14px;
      border: transparent;
      box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.4);
      background: #4d2559;
      letter-spacing: 0.2px;
      font-size: 16px;
      color: white;
      border-radius: 6px;

      &:hover {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, #4d2559 0%, #824f92 100%);
      }

      &:active {
        transform: translateY(2px);
      }

      svg {
        width: 18px;
        height: 18px;
        margin: 0 8px 0 0;
        transform: translate(0, 3px);
        color: #03c100;
      }

      // deletion pending
      span {
        margin: 0 0 0 5px;
      }
    }
  }

  &__product-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($gridColum, 1fr));
    grid-auto-flow: row dense;
    column-gap: $columnGap;
    row-gap: $rowGap;
    width: $wrap;
    padding: 0 $wrapPadding;
  }
}
