/* Product.module.scss */
.Product {
  position: relative;
  background: #fff;
  min-width: 190px;
  max-width: 250px;
  height: 410px;
  padding: 10px 0 20px 0;
  border-radius: 10px;
  box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
  font-family: 'Poppins', sans-serif;
  z-index: 0;

  &__image {
    position: absolute;
    object-fit: contain;
    object-fit: cover;
    object-position: center;
    width: 214px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__brand {
    margin: 10px 0 0 26px;
    font-size: 27px;
    font-weight: 600;
    z-index: 2;
  }

  &__description {
    display: block;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 20px 26px;
    z-index: 1;
  }

  &__etiquet {
    position: absolute;
    display: flex;
    align-items: center;
    background: #fdbd4a;
    width: 218px;
    width: 190px;
    width: 224px;
    height: 36px;
    height: 42px;
    top: 296px;
    right: -13px;
    border-radius: 5px 0 0 5px;
    z-index: 2;

    &__price {
      display: flex;
      align-items: center;
      margin: 0 0 0 26px;
      font-size: 30px;
      font-size: 28px;
      font-weight: 500;

      &:before {
        content: '$';
        margin: 0 8px 0 0;
        font-size: 20px;
        font-weight: 300;
      }
    }

    & div {
      position: absolute;
      bottom: -23px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 13px solid #c58102;
      border-bottom: 10px solid transparent;
      border-right: 13px solid transparent;
      z-index: -6;
    }
  }

  &__btn-get {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 17px;
    letter-spacing: 0.2px;
    padding: 12px 24px;
    border: transparent;
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.4);
    background: #4d2559;
    color: white;
    border-radius: 6px;

    &:hover {
      background: rgb(2, 0, 36);
      background: linear-gradient(90deg, #4d2559 0%, #824f92 100%);
    }

    &:active {
      transform: translateX(-50%);
      transform: translate(-50%, 2px);
    }
  }
}
