$grid-column: 210px;
$column-gap: 24px;
$row-gap: 20px;

.ProductContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  &__product-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($grid-column, 1fr));
    grid-auto-flow: row dense;
    column-gap: $column-gap;
    row-gap: $row-gap;
  }

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__header {
    width: 580px;
    margin: auto;
    display: block;
    padding: 20px 0 50px;
  }
}
