/* Product.module.scss */
.Product {
  position: relative;
  background: #fff;
  min-width: 220px;
  max-width: 300px;
  max-width: 240px;
  height: 420px;
  padding: 10px 0 20px 0;
  border-radius: 10px;
  box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
  font-family: 'Poppins', sans-serif;
  z-index: 0;

  &__image {
    position: absolute;
    object-fit: contain;
    object-fit: cover;
    object-position: center;
    width: 98%;
    width: 220px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__brand {
    margin: 10px 0 0 26px;
    font-size: 27px;
    font-weight: 600;
    z-index: 2;
  }

  &__description {
    display: block;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 20px 26px;
    z-index: 2;
  }

  &__etiquet-price {
    position: absolute;
    background: #fdbd4a;
    width: 224px;
    top: 126px;
    top: 300px;
    right: -13px;
    border-radius: 5px 0 0 5px;
    z-index: 2;

    &__price {
      margin: 0;
      padding: 5px 0 4px 20px;
      display: flex;
      font-size: 30px;
      font-size: 28px;
      font-weight: 500;

      &:before {
        content: '$';
        margin: 4px 10px 4px;
        font-size: 20px;
        font-weight: 300;
      }
    }

    & div {
      position: absolute;
      bottom: -23px;
      right: 0;
      width: 0;
      height: 0;
      border-top: 13px solid #c58102;
      border-bottom: 10px solid transparent;
      border-right: 13px solid transparent;
      z-index: -6;
    }
  }

  &__button-get {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000446;
      background: #fdbd4a;
      background: #000446;
      color: #fff;
      padding: 10px 15px;
      padding: 14px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 0.8rem;
      letter-spacing: 0.05rem;
      font-weight: 500;
      transition: all 0.3s ease;
      z-index: 2;

      &:hover {
        transform: translateY(-3%);
        box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
        z-index: 2;
      }
    }
  }
}
